h1,h3{
	text-align: center;
	color: rgb(47,79,79);
}

img{
  width: 500px; 
  height: 400px;
}

#gardenOfGods {
  position: relative;
  overflow: hidden;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Modal Content (image) */
.modal-content {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  width: 800px; 
  height: 700px;
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 30px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}